.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items {
    align-self: center;
}


h1 {
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    height: 10%;
}

.line_thr {
    text-decoration: line-through;
}