body {
    background: black;

}

div {
    position: relative;

}
.space {
    background-image: url("space.png");
    margin: auto;
    width: 70vw;
    height: 95vh;
    border: 0;
}

.planet-area {
    position: absolute;
    /*background: white;*/
    width: 50%;
    height: 70%;
    left: 0;
    bottom: 0;

}

.planet {
    position: relative;
    width: 100%;
    height: 100%;
    left: -2px;
    bottom: -2px;

}

.rocket {
    position: absolute;
    width: 30%;
    height: 30%;
    right: 20%;
    top: 20%;
    transform: rotateZ(25deg);
}

.control-panel {
    position: absolute;
    border: 5px double aliceblue;
    right: 5%;
    top: 40%;
    border-radius: 10px;
    /*background-color: bisque;*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,74,54,1) 35%, rgba(0,212,255,1) 100%);    width: 40%;
    justify-content: center;
}

.control-panel__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}


.levers{
    /* align-self: center; */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    justify-content: space-around;
    margin: 20px;

}
.check-buttons{
    /*        align-self: center; */
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
        margin-top: 20px;

    /*    flex: 1 1 10vw; */
}

input[type=range] {
    width: 20%;
   /*  transform: rotateZ(270deg);*/
}
input[type=password]{
    border: 2px solid yellowgreen;
}

input[id="push_ok"]{
    background-color: limegreen;
    border-radius: 15px;
    /*  transform: rotateZ(270deg);*/
}
input[id="launch"]{
    background-color: gray;
    border-radius: 15px;
    /*  transform: rotateZ(270deg);*/
}
input[checked]{
    color: limegreen;
}